@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
body, p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html {
    background: rgb(189,155,102) url("images/20220225_104815.jpeg") 38% center no-repeat fixed;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-background-clip: border;
    -webkit-background-origin: border-box;
    background-origin: border-box;
}
section {
    margin: 20% 0;
    padding: 10%;
    box-sizing: border-box;
    width:100%;
}
@supports (backdrop-filter: blur(10px)) {
    section.backdrop {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(12px) grayscale(0.6) opacity(0.93);
    }
}

@supports not (backdrop-filter: blur(10px)) {
    section.backdrop {
        position: relative;
        background: none;
    }
    section.backdrop:before,  section.backdrop:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.96;
        z-index: -1;
    }
    section.backdrop:before {
        background: url("images/20220225_104815.jpeg") 38% center no-repeat fixed;
        filter: blur(12px) grayscale(0.6) brightness(1.1);
        z-index: -2;
    }
    section.backdrop:after {
        background: rgba(255, 255, 255, 0.24);
        z-index: -1;
    }
}

@media (max-aspect-ratio: 640/480) {
    html, section.backdrop:before {
        background-size: auto 100vh;
    }
}
@media (min-aspect-ratio: 640/480) {
    html, section.backdrop:before {
        background-size: 100vw auto;
    }
}

@media (hover: none) {
    html, section.backdrop:before {
        background-size: revert;
        background-attachment: scroll;
    }
}

.hero > img {

}

.grid > article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

img {
    max-width: 100%;
}